/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* basic html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Basic css */
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
}
h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 36px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
/* common css */
.btn {
  background: #b88e2f;
  border: none;
  color: #fff;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
/* hero-section */
.hero-section .container {
  background-image: url(../image/shop/shop-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hero-area {
  padding: 120px 0 125px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.hero-area > div img {
  margin-bottom: -20px;
}
.hero-area h1 {
  color: #000;
}
.hero-items {
  gap: 10px;
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
}
.shop {
  color: #9f9f9f;
}
/* sub-hero-area */
.sub-hero-section .container {
  background-color: #f9f1e7;
}
.sub-hero-area {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.sub-hero-left {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 25px;
}
.sub-hero-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #000;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}
.result {
  border-left: 2px solid #000;
  padding-left: 25px;
}
.sub-hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  color: #000;
}
.show span {
  color: #9f9f9f;
  background-color: #fff;
  padding: 3px 5px;
  margin-left: 10px;
}
.short-by span {
  color: #9f9f9f;
  background-color: #fff;
  padding: 3px 25px;
  margin-left: 10px;
}
/* product-section */

.products-area {
  padding: 10px 0;
  margin-top: 30px;
}
.products-area h2 {
  text-align: center;
  color: var(--Color-Gray-1, #3a3a3a);
  margin-bottom: 30px;
}
.products-items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.products-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 22.9%;
  position: relative;
}

.visible-section img {
  width: 100%;
  height: auto;
}
.products-details {
  padding: 15px;
  background-color: var(--Color-Light-BG, #f4f5f7);
}
.title {
  margin-bottom: 5px;
  color: var(--Color-Gray-1, #3a3a3a);
}
.description {
  color: var(--Color-Gray-3, #898989);
  margin-bottom: 5px;
}
.price {
  color: var(--Color-Gray-1, #3a3a3a);
  font-size: 18px;
}
.price span {
  color: var(--Color-Gray-4, #b0b0b0);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: line-through;
  margin-left: 10px;
}
.products-discount {
  width: 48px;
  height: 48px;
  background-color: #e97171;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 20px;
}
.products-discount p {
  color: var(--Color-White, #fff);
  line-height: 150%;
}
.hover-section {
  display: none;
}
.hover-area {
  width: 255px;
  height: 400px;
  opacity: 0.7;
  background-color: var(--Color-Gray-1, #3a3a3a);
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details-btn {
  text-decoration: none;
  color: var(--Primary, #b88e2f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: 1px solid #b88e2f;
  padding: 2px;
  background-color: var(--Color-White, #fff);
  width: 60%;
  text-align: center;
}
/* hover effect */
.details-btn:hover {
  color: #fff;
  background-color: #b88e2f;
}
.action-icons {
  margin-top: 24px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.share,
.compare,
.heart {
  color: var(--Color-White, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* parents and child hover korte pare ,sibling er khetre kaj kore na */
.products-item:hover .hover-section {
  display: block;
}

.see-more {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.see-more-btn {
  padding: 10px;
  width: 20%;
}
/* features-section */
.features-section .container {
  background-color: #faf3ea;
}
.features-area{
  padding: 60px 0px;
  margin: 20px 0;
}
.features{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.feature{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.feature h3{
color: #242424;
font-size: 20px;
}
.feature p{
color:  #898989;
font-size: 14px;
}
/* media quires */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  /* Basic css */
  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 42px;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 28px;
  }
  p {
    font-size: 0.875rem;
    line-height: 20px;
  }
  /* hero-section */

  /* product-section */
  .products-item {
    flex-basis: 21.9%;
  }
  .products-details {
    padding: 10px;
  }
  .price {
    font-size: 14px;
  }
  .price span {
    font-size: 12px;
  }
  .hover-area {
    width: 180px;
    height: 300px;
  }
  .details-btn {
    font-size: 14px;
    font-weight: 500;
  }
  .action-icons {
    margin-top: 20px;
    gap: 10px;
    padding: 0 10px;
  }
/* features-section */
.features-area{
  margin: 10px 0;
}
.features{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
.feature{
  display: flex;
  justify-content: start;
  gap: 5px;
}
.feature h3{
color: #242424;
font-size: 20px;
}
.feature p{
color:  #898989;
font-size: 14px;
}
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 0 20px;
  }
  /* Basic css */
  h1 {
    font-size: 1.5rem;
    line-height: 32px;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28px;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
  }
  /* hero-section */

  /* product-section */
  .products-item {
    flex-basis: 29.9%;
  }
  .hover-area {
    width: 190px;
    height: 305px;
  }
  /* sub-hero-area */
  .sub-hero-left {
    gap: 10px;
  }
  .sub-hero-icons {
    gap: 10px;
  }
  .filter {
    gap: 5px;
    font-size: 16px;
  }
  .result {
    padding-left: 10px;
  }
  .result p {
    font-size: 14px;
  }
  .sub-hero-right {
    gap: 10px;
    color: #000;
  }
  .show span,
  .short-by span {
    padding: 3px 5px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 426px) {
  .container {
    max-width: 100%;
  }
  /* Basic css */
  h1 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
  }
  h2,
  h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
  }
  p {
    font-size: 0.75rem;
    line-height: 16px;
  }
  /* hero-section */
  .hero-area {
    padding: 80px 0;
    gap: 20px;
  }
  .hero-items {
    gap: 0px;
  }
  .hero-items svg {
    width: 16px;
    height: auto;
  }
  /* product-section */
  .products-item {
    flex-basis: 100%;
  }
  .hover-section {
    display: none;
  }
  .hover-area {
    width: 385px;
    height: 500px;
  }
  .details-btn {
    text-decoration: none;
    color: var(--Primary, #b88e2f);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: 1px solid #b88e2f;
    padding: 2px;
    background-color: var(--Color-White, #fff);
    width: 60%;
    text-align: center;
  }
  .action-icons {
    margin-top: 24px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .see-more-btn {
    padding: 10px;
    width: 100%;
  }
  /* sub-hero-area */
  .sub-hero-area {
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
  }
  .sub-hero-left {
    gap: 40px;
  }
  .result {
    border-left: none;
  }

  /* features-section */
.features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature{
  flex-direction: column;
}
.feature h3{
  text-align: center;
  margin-bottom: 20px;
}
.feature p{
  text-align: center;
}
}
